[bumpversion]
current_version = 0.18.2
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:docs/conf.py]
search = {current_version}
replace = {new_version}
