[bumpversion]
current_version = 0.40.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:uv.lock]
search = name = "solana"
	version = "{current_version}"
replace = name = "solana"
	version = "{new_version}"
