[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
allow_prereleases = true

[dev-packages]
jupyterlab = "*"
autopep8 = "*"
black = "*"
pytest = "*"
pylint = "*"
pytest-tornasync = "*"
mypy = "*"

[packages]
pynacl = "*"
base58 = "*"

[requires]
python_version = "3.7"
