[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
allow_prereleases = true

[scripts]
install-ci-deps = "pipenv install --dev --skip-lock pydocstyle flake8 pylint mypy pytest"
update-localnet = "sh bin/localnet.sh update"
start-localnet = "sh bin/localnet.sh up"
stop-localnet = "sh bin/localnet.sh down"


[dev-packages]
jupyterlab = "*"
black = "*"
pytest = "*"
pylint = "*"
pytest-tornasync = "*"
mypy = "*"
pydocstyle = "*"
flake8 = "*"
isort = "*"

[packages]
pynacl = "*"
base58 = "*"

[requires]
python_version = "3.7"
