# This is a basic workflow to help you get started with Actions

name: Docs

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    uses: michaelhly/solana-py/.github/workflows/setup.yml@7088188296

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Doc dependencies
        run: poetry export --dev -f requirements.txt --output requirements.txt

      - name: Sphinx Build
        uses: ammaraskar/sphinx-action@0.4
        with:
          docs-folder: .

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/html
          force_orphan: true
