# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install pipenv
        uses: dschep/install-pipenv-action@v1

      - name: Install CI dependencies
        run: |
          pipenv run install-ci-deps

      - name: Run linters
        run: |
          pipenv run pydocstyle solana tests
          pipenv run flake8 solana tests
          pipenv run mypy solana

      - name: Run unit tests
        run: |
          pipenv run pytest -m "not integration"

      - name: Run integration tests
        run: |
          pipenv run pytest -m integration
